repos:
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.1
    hooks:
      - id: ruff
        args: [ --fix ]
      - id: ruff-format

-   repo: https://github.com/pre-commit/mirrors-pyright
    rev: v1.1.350
    hooks:
      - id: pyright
        args: [--warnings]